<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card class="contact-card">
    <mat-card-header>
      <mat-card-title><strong>Contact us:</strong></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>
        The best way to reach us is via Slack. New members can sign up
        <a
          href="https://gdgcloudoc.slack.com/join/shared_invite/enQtNDQ0NzkzOTM2OTY3LTc5MTc4YmY4YzFmZjhlMTZmODRlYzRkYmNmZDdkNDI2MzhiMWVkMTk0MmIzYjFhZmZkZWJjNTM5ZGYzMWI1ZTg"
          >here</a
        >
      </p>
    </mat-card-content>
  </mat-card>
</div>
