<div class="events-content-wrapper">
  <mat-spinner class="loading-spinner" *ngIf="loading"></mat-spinner>
  <div class="events-content-display">
    <div *ngIf="!loading" fxShow.xs="false">
      <event-jumbotron [event]="events[0]"></event-jumbotron>
    </div>
    <div class="event-grid-wrapper">
      <h2 *ngIf="!loading" class="grid-title">Upcoming</h2>
      <mat-divider></mat-divider>
      <div class="events-grid" *ngIf="!loading">
        <div *ngFor="let item of events">
          <event-thumbnail [item]="item"></event-thumbnail>
        </div>
      </div>
    </div>
  </div>
</div>
