<mat-card class="event-card">
  <mat-card-header>
    <img
      mat-card-avatar
      src="../../assets/gdg_cloud_oc_small_circle_logo.png"
    />
    <mat-card-title
      ><strong>{{ item?.name }}</strong></mat-card-title
    >
    <mat-card-subtitle
      >{{ this.convertDate(item?.local_date) }} |
      {{ this.convertTime(item?.local_time) }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p [innerHtml]="item?.description"></p>
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-actions class="event-footer">
    <span *ngIf="!pastEvent"
      >{{ item?.yes_rsvp_count }} of {{ item?.rsvp_limit }} attending</span
    >
    <span *ngIf="pastEvent">{{ item?.yes_rsvp_count }} attended</span>
    <a
      *ngIf="!pastEvent"
      mat-button
      href="{{ item?.link }}"
      color="primary"
      target="_blank"
      >RSVP</a
    >
  </mat-card-actions>
</mat-card>
