.events-content-wrapper {
  justify-content: center;
  display: flex;
  margin-top: 60px;
}

.event-grid-wrapper {
  width: 80%;
  margin: auto;
}

.events-grid {
  display: grid;
  grid-template: auto / calc(100% * 1 / 3 - 9px) calc(100% * 1 / 3 - 9px) calc(
      100% * 1 / 3 - 9px
    );
  gap: 13px;
}

.loading-spinner {
  margin-top: 200px;
}

@media screen and (max-width: 1024px) {
  .events-grid {
    grid-template: auto / 50% 50%;
  }
}

@media screen and (max-width: 650px) {
  .events-grid {
    grid-template: auto / 100%;
  }
}
