<div class="events-content-wrapper">
  <div class="events-content-display">
    <div
      *ngIf="!loading && !errorMessages?.upcomingEvents?.length"
      fxShow.xs="false"
    >
      <event-jumbotron [event]="nextEvent"></event-jumbotron>
    </div>
    <div class="event-grid-wrapper">
      <h2 *ngIf="!loading" class="grid-title">Upcoming Events</h2>
      <mat-divider></mat-divider>
      <h3 *ngIf="!loading && errorMessages?.upcomingEvents?.length">
        {{ errorMessages?.upcomingEvents }}
      </h3>
      <div
        class="events-grid"
        *ngIf="!loading && !errorMessages?.upcomingEvents?.length"
      >
        <div *ngFor="let event of upcomingEvents">
          <event-thumbnail [item]="event"></event-thumbnail>
        </div>
      </div>

      <h2 *ngIf="!loading" class="grid-title">Past Events</h2>
      <mat-divider></mat-divider>
      <h3 *ngIf="!loading && errorMessages?.pastEvents?.length">
        {{ errorMessages?.pastEvents }}
      </h3>
      <div
        class="events-grid"
        *ngIf="!loading && !errorMessages?.pastEvents?.length"
      >
        <div *ngFor="let event of pastEvents">
          <event-thumbnail [item]="event" [pastEvent]="true"></event-thumbnail>
        </div>
      </div>
    </div>
  </div>
</div>
