.event-card {
  margin: 20px auto 0 auto;
  overflow-x: visible;
}
.event-card p {
  padding-top: 10px;
  text-align: left;
  // for incompatible browsers
  word-break: break-all;
  // for compatible browsers
  word-break: break-word;
}
.event-footer span {
  padding: 10px;
}
.event-footer {
  text-align: right;
}
