<mat-card class="comment-card">
  <mat-card-header>
    <img mat-card-avatar src="{{ reply?.member.photo.thumb_link }}" />
    <mat-card-title>{{ reply?.member.name }}</mat-card-title>
    <mat-card-subtitle>{{
      reply?.member.role ? this.roleUppercase(reply?.member.role) : "Member"
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="comment-card-content">
    <p [innerHTML]="reply?.comment | linkify"></p>
  </mat-card-content>
</mat-card>
