<div class="about-container">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-card class="about-card">
      <mat-card-header>
        <mat-card-title><strong>Who we are</strong></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>
          We are a community-run group that meets once a month to learn and
          discuss the Google Cloud Platform and related technologies. Anyone may
          attend regardless of experience or affiliation.
        </p>
        <p>
          <strong>Disclaimer:</strong> GDG Cloud OC is an independent group; our
          activities and the opinions expressed here should in no way be linked
          to Google, the corporation. To learn more about the GDG program, visit
          <a href="https://developers.google.com/groups/"
            >https://developers.google.com/groups/</a
          >
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-card class="about-card">
      <mat-card-header
        ><mat-card-title
          ><strong>When do we meet?</strong></mat-card-title
        ></mat-card-header
      >
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>
          Meetings typically occur on the fourth Tuesday of every month at
          either Google Irvine or Neudesic HQ. However time and place is always
          subject to change, so always be sure check the event details page to
          confirm. Our meetings are free and open to all, but we do have limited
          space so please RSVP to reserve your spot at each meeting. We are an
          inclusive group, and anyone may attend regardless of experience or
          affiliation.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-card class="about-card">
      <mat-card-header
        ><mat-card-title
          ><strong>What is GDG?</strong></mat-card-title
        ></mat-card-header
      >
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>
          Google Developer Groups (GDGs) are for developers who are interested
          in Google's developer technology; everything from the Android, Chrome,
          Drive, and Google Cloud platforms, to product APIs like the Cast API,
          Maps API, and YouTube API.
        </p>
        <p>
          A GDG can take many forms -- from just a few people getting together
          to watch our latest video, to large gatherings with demos and tech
          talks, to events like code sprints and hackathons. However, at the
          core, GDGs are focused on developers and technical content, and the
          core audience should be developers.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
