<div class="about-container">
  <div fxLayout="row">
    <div fxLayout="column" class="column-half">
      <mat-accordion>
        <mat-expansion-panel class="expansion-panel" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="title1">
              <strong>Who we are</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            GDG Cloud OC is a community-run group that meets once a month to
            learn and discuss the Google Cloud Platform and related
            technologies. Anyone may attend regardless of experience or
            affiliation.
          </p>
          <p>
            <strong>Disclaimer:</strong> GDG Cloud OC is an independent group;
            our activities and the opinions expressed here should in no way be
            linked to Google, the corporation. To learn more about the GDG
            program, visit
            <a href="https://developers.google.com/groups/"
              >https://developers.google.com/groups/</a
            >
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="title2">
              <strong>When we meet</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Meetings typically occur on the fourth Tuesday of every month at
            either Google Irvine or Neudesic HQ. However time and place is
            always subject to change, so always be sure check the event details
            page to confirm. Our meetings are free and open to all, but we do
            have limited space so please RSVP to reserve your spot at each
            meeting. We are an inclusive group, and anyone may attend regardless
            of experience or affiliation.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="title3">
              <strong>More about GDG</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Google Developer Groups (GDGs) are for developers who are interested
            in Google's developer technology; everything from the Android,
            Chrome, Drive, and Google Cloud platforms, to product APIs like the
            Cast API, Maps API, and YouTube API.
          </p>
          <p>
            A GDG can take many forms -- from just a few people getting together
            to watch our latest video, to large gatherings with demos and tech
            talks, to events like code sprints and hackathons. However, at the
            core, GDGs are focused on developers and technical content, and the
            core audience should be developers.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="title4">
              <strong>How to find us</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card class="contact-card">
            <mat-card-content>
              <h3>Neudesic HQ</h3>
              <p>200 Spectrum Center Dr Suite 2000, Irvine, CA 92618</p>
            </mat-card-content>
            <mat-card-actions align="end">
              <a
                mat-button
                alt="Group photo"
                color="primary"
                href="https://www.google.com/maps/place/200+Spectrum+Center+Dr+%232000,+Irvine,+CA+92618/@33.6527125,-117.7500632,17z/data=!3m1!4b1!4m5!3m4!1s0x80dce7f82e0babad:0x17233ed9e87a7c82!8m2!3d33.6527125!4d-117.7478745"
                target="_blank"
                >Map</a
              >
            </mat-card-actions>
          </mat-card>
          <mat-card class="contact-card">
            <mat-card-content>
              <h3>Google Irvine</h3>
              <p>19510 Jamboree Rd, Irvine, CA 92612</p>
            </mat-card-content>
            <mat-card-actions align="end">
              <a
                mat-button
                color="primary"
                href="https://www.google.com/maps/place/200+Spectrum+Center+Dr+%232000,+Irvine,+CA+92618/@33.6527125,-117.7500632,17z/data=!3m1!4b1!4m5!3m4!1s0x80dce7f82e0babad:0x17233ed9e87a7c82!8m2!3d33.6527125!4d-117.7478745"
                target="_blank"
                >Map</a
              >
            </mat-card-actions>
          </mat-card>
          <mat-card-footer align="center">
            <p>
              <em
                >*Please check the event details page for confirmed location</em
              >
            </p>
          </mat-card-footer>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div
      fxLayout="column"
      class="column-half"
      fxShow.sm="false"
      fxShow.xs="false"
    >
      <mat-card class="about-card">
        <img mat-card-image src="../../assets/groupphoto.jpeg" />
      </mat-card>
    </div>
  </div>
</div>
