.column-half {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.column-half {
  margin-top: 60px;
}
.title1 {
  color: #4285f4;
}
.title2 {
  color: #db4437;
}
.title3 {
  color: #0f9d58;
}
.title4 {
  color: #f4b400;
}
.expansion-panel {
  margin-top: 10px;
}
.contact-card {
  margin-top: 5px;
}

@media screen and (max-width: 960px) {
  .column-half {
    width: 100%;
  }
}
