.photos-content-wrapper {
  display: flex;
  justify-content: center;
}

.loading-spinner {
  margin-top: 200px;
}

.photo-grid-wrapper {
  margin-top: 20px;

  .error-message {
    text-align: center;
  }
}

.photo-grid {
  display: grid;
  grid-template: auto / auto auto auto;
  gap: 20px;
  width: 90%;
  margin: 0 auto 20px;

  mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template: auto / auto auto;
  }
}

@media screen and (max-width: 650px) {
  .photo-grid {
    grid-template: auto / auto;
  }
}
