<div class="comment-dialog-wrapper">
  <div *ngIf="empty">
    <mat-dialog-content>
      <p>There are no comments for this event</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end"
      ><button mat-button mat-dialog-close>
        Close
      </button></mat-dialog-actions
    >
  </div>
  <div *ngIf="!empty">
    <mat-dialog-content>
      <div *ngFor="let comment of comments">
        <comment-thumbnail [comment]="comment"></comment-thumbnail>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end"
      ><button mat-button mat-dialog-close>
        Close
      </button></mat-dialog-actions
    >
  </div>
</div>
