<section fxLayout="column" fxFlexAlign="stretch">
  <img
    src="../../assets/gdg_cloud_oc_horizontal_light.png"
    width="50%"
    class="cloud-header"
    fxFlexAlign="center"
  />
  <div>
    <mat-tab-group
      mat-align-tabs="center"
      animationDuration="1000ms"
      color="primary"
    >
      <mat-tab label="About">
        <about-view></about-view>
      </mat-tab>
      <mat-tab label="Events">
        <event-view></event-view>
      </mat-tab>
      <mat-tab label="Photos">
        <p>This is the photos tab</p>
      </mat-tab>
      <mat-tab label="Contact">
        <contact-view></contact-view>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
