.photos-content-wrapper {
  display: flex;
  justify-content: center;
}

.loading-spinner {
  margin-top: 50px;
}

.photo-grid-wrapper {
  width: 80%;
  margin: 0 auto;
}

.photo-grid {
  display: grid;
  grid-template: auto / auto auto auto;
  gap: 20px;

  mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template: auto / auto auto;
  }
}

@media screen and (max-width: 650px) {
  .photo-grid {
    grid-template: auto / auto;
  }
}
