<div class="photos-content-wrapper">
  <mat-spinner class="loading-spinner" *ngIf="loading"></mat-spinner>
  <div class="photo-grid-wrapper" *ngIf="!loading">
    <h1 *ngIf="errorMessage.length" class="error-message">{{ errorMessage }}</h1>

    <div class="photo-grid">
      <mat-card *ngFor="let photo of photos" (click)="openGallery(photos.indexOf(photo))">
        <mat-card-content>
          <img [src]="photo?.url">
        </mat-card-content>
      </mat-card>
      <ngx-image-gallery [images]="photos" [conf]="imageGalleryConfig"></ngx-image-gallery>
    </div>
  </div>
</div>
