.jumbotron-card {
  margin: 20px auto 10px;
  font-size: medium;
}
.jumbotron-card p {
  padding-top: 10px;
  text-align: left;
}
.jumbotron-footer span {
  padding: 10px;
}
.jumbotron-footer {
  text-align: right;
}
